/*** CSS Document ***/ 
body{
	background-color: #cccccc;
	font-size: 14px;
}
img{
	max-width: 100%;
}
.wrapper{
	max-width:840px;
	margin:auto;
}

/** header styles **/
header{
  background-color:rgba(47, 182, 188, 0.8);
	border-top:1px solid #2fb6bc;
	color: #fff;
	display: inline-block;
	width: 100%;
	padding: 25px 0px 0px 0px;
}
.logo{
	float: left;
}
nav{
	float: right;
  margin-top: 5px;
}
nav ul{
	margin: 0px;
	padding: 0px;
  float: left;
}
nav li{
	float: left;
	list-style-type: none;
}
nav li a{
    font-size: 14px;
  	text-decoration: none;
  	padding: 15px 8px;
  	float: left;
  	color: rgb( 255, 255, 255 );
}
nav li a:hover, nav li a.active{
  color: #fab900;
}
.searchSec{
  margin-left: 20px;
}
.searchSec button{
	width: 40px;
	height: 40px;
	text-align: center;
  background: none;
  border:none;
  margin-top: 5px;
}
.searchSec button img{
	max-width: 24px;
}

/** content styles **/
.dashboardSec{
  margin-top: 70px
}
.dashboardBox{
	background-color:rgba(47, 182, 188, 0.9);
	color:#fff;
	text-align: center;
	padding: 25px 0px;
  margin-bottom: 30px;
  cursor: pointer;
  min-height: 124px;
  position:relative;
}
.dashboardBox .box-hover{
  position: absolute;
  background: rgba(250, 185, 0, 0.9);
}
.box-overlay{
    overflow: hidden;
    transition: all 0.5s ease 0s;
    z-index: 20;  
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.dashboardBox:hover .box-overlay{
  height: 100%;
  padding: 20px 0px;
}
.dashboardBox img{
  max-height: 70px;v
}
.last-col{
  text-align: left;
  padding: 15px;
}
.last-col img {
  float: left;
  margin-right: 15px;
  max-height: 90px;
}
.last-col h2{
  margin-top:0px;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  font-weight: normal;
}
.last-col h4{
  margin-top: 0px;
}
.last-col p{
  font-size: 16px;
  font-family: 'proxima_novalight';
}
.last-col a{
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  font-family: 'proxima_novalight';
}
.wishingSec{
  background-color: #269296;
  color:#fff;
  padding:8px 8px 8px 20px;
  margin-bottom: 20px;  
}
.wishingSec h1{
  float: left;
  font-weight: normal;
  width:20%;
  line-height: 30px;
}
.wishingSec input{
  background-color: #bedfe0;
  border:none;
  font-size: 21px;
  padding: 19px 18px 18px 18px;
  width: 50%;
  color: #000000;
}
.wish-rightSec{
  background-color: #bedfe0; 
  color: #000000;
  padding: 18px;
  width: 30%;
  float: right;
  font-size: 22px;
}
.readmore{
  text-align: right;
  float: right;
}

/** 
* loan-steps styles
**/
.loan-steps{
  margin-top: 10px;
}
.section-home{
  background-image: url(../images/home-bg.png);
  background-position: center 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}
.body-bg{
  background-image: url(../images/body-bg.jpg);
  background-position: center 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-title{
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  float: left;
}
.steps-head .head-img{
  background: #38b5ba;
  padding: 20px;
  float: left;
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  margin-right: 18px;
}
.steps-head .head-img img{
  max-width: 35px;
}
.loan-steps-box{
  display: inline-block;
  background:rgba(238, 239, 241, 0.8);
  border:8px solid rgba(44, 183, 188, 0.8);
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -o-border-radius:10px;
  padding: 25px;
  margin-top: 10px;
  width: 100%;
}
.loan-steps-box h3{
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
}
.loan-steps-box h3 span{
  font-size: 30px;
  font-weight: bold;
}
.orange-color{
  color: #f4b821;
}
.steps-tabs{
  padding:0px;
  margin: 0px;
}
.steps-tabs li{
  font-size: 18px;
  background:rgba(44, 183, 188, 0.8);
  width: 128px;
  float: left;
  list-style-type:none;
  text-align: center;
  color: #fff;
  padding:20px 0px;
  margin-right: 15px;
  border: 2px solid transparent;
  border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
}
.steps-tabs li a{
  color: #fff;
  text-decoration: none;
}
.steps-tabs li.active{
  background:rgba(250, 185, 19, 0.9);
  border:2px solid #ffffff;
}
.steps-tabs li.active a{
  color: #fff;
  text-decoration: none;
}
.steps-tabs li.last{
  background: none;
  padding: 12px 15px 10px 15px;
  text-align: left;
}
.form-section{
  margin-top: 15px;
}
.form-group{
  margin-bottom: 10px;
}
.form-control{
  font-size: 16px;
  background: #fff;
  border:1px solid #fab913;
  height: 35px;
  border-left:4px solid #fab913;
  border-right:12px solid #fab913;
  width: 100%;
  padding:5px 15px 5px 55px;
}
.form-steps .form-group{
  clear: both;
}
.form-steps .form-control{
  padding-left: 10px;
}
.two-fileds{
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.two-fileds .input-group{
  float: left;
  width: 50%;
}
.two-fileds .col-left .form-control{
  border-right: 0px;
}
.two-fileds .col-right .select-control{
  border-left: 0px;
  background-color: #383838;
}
.two-fileds .col-right .select-control .form-control{
  color: #fefefe;
  width: 110%;
}
.select-control{
  font-size: 16px;
  background-color: #fff;
  border:1px solid #fab913;
  height: 35px;
  border-left:4px solid #fab913;
  border-right:12px solid #fab913;
  width: 100%;
  overflow: hidden;
  background-image: url(../images/select-box-arrow.png);
  background-repeat: no-repeat;
  background-position: 98% 40%;
}
.select-control .form-control{
  border: none;
  width: 108%;
  background: none;
}
.input-group{
  position: relative;
}
.input-group-addon{
  position: absolute;
  left: 8px;
  padding: 5px;
}
.input-group-addon img{
  max-width: 30px;
}
.recommened-loan{
  background: #2cb7bc;
  border-left:7px solid #ffb907;
  font-size: 22px;
  font-weight: bold;
  color:#fff;
  margin-top: 25px;
  padding: 15px 10px;
}
.black-color{
  color: #000;
}
.recommened-loan select{
  font-size: 14px;
  font-weight: normal;
  color: #000;
  background: #fab913;
  border:none;
  padding: 5px 10px;
  margin-left: 20px;
}
.price-bar{
  margin-top: 20px;
}
.price-bar img{
  float: left;
}
.price-bar-form{
  border:none;
  background: rgba(0,0,0,0.6);
  float: left;
  font-size: 16px;
  padding: 12px 15px;
  color: #fff;
}
.loan-detail-table{
  width: 100%;
}
.loan-detail-table thead{
  background: rgba(157,212,224,0.9);
  border-width: 4px 4px 0px 4px;
  border-color: #fff;
  border-style: solid;
}
.loan-detail-table tbody {
  border-width: 4px 4px 4px 4px;
  border-color: #fff;
  border-style: solid;
}
.loan-detail-table thead td{
  font-size: 16px;
  color: #131212;   
}
.loan-detail-table tr td{
  padding: 15px 20px;
  border-width: 0px 1px 0px 0px;
  border-color: #fff;
  border-style: solid;
}
.loan-detail-table tbody{
  background: #e3eaee;  
}
.bottom-row td{
  background: rgba(169,213,237,0.2)!important;
  border-width: 0px 0px 0px 0px!important;
  font-size: 12px;
}
.mar-top-10{
  margin-top: 10px;
}
.mar-top-20{
  margin-top: 20px
}
/**
** table styles
**/
.table{
  width: 100%;
}
.table-responsive{
 margin-bottom: 20px;  
}
.table tr td{ padding: 10px;}
.table thead{
  margin-bottom: 5px;
}
.table thead tr{
  background: #909090;
}
.table tbody tr.even{
  background: #e2e2e2;
}
.table tbody tr.odd{
  background: #eeeeee;
}
.table tbody tr:hover{
  background: #fcf8e3;
}
.table thead tr td{
  font-size: 16px;
  font-weight: bold;  
}
/**
* social network styles
**/
.social-links{
  position: fixed;
}
.left-links{
  left:20px;
  top:210px;
}
.right-links{
  right:20px;
  top:210px;
}
.social-links ul{
  margin:0px;
  padding: 0px;
}
.social-links ul li{
  padding: 0px;
  list-style-type: none;
  background-color:rgba(47, 182, 188, 0.9);
  width: 37px;
  height: 37px;
  margin-bottom: 20px;
}
.social-links ul li a{
  display: block;
}
.social-links ul li a img{
  max-width: 37px;
}
.privacy-text{
  float: left;
  margin-top: 20px;
}
.form-actions{
  font-size: 13px;
  color: #000;
  display: inline-block;
  width: 100%;
}
.form-actions .btn-default{
  float: right;
  margin-top: 10px;
}
/** 
* button styles
**/
.btn-default{
  background: #faac1b;
  color: #fff;
  border:none;
  padding: 5px 15px;
  width: 135px;
  text-align: center;
  font-size: 20px;
}
.btn-primary{
  background: #000000;
  color: #fff;
  border:none;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
  text-decoration:none;
}

/** 
* location styles
**/
.location{
  background: #8fd4d9;
  padding: 5px;
  border:1px solid #fff;
  margin-top: 15px;
  min-height: 140px;
}
/** 
* footer styles
**/
footer{
  min-height: 100px;
  margin-top: 15px;
  padding: 30px 0px;
  color: #fff;
}
footer ul{
  padding: 0px;
  margin: 0px;
  width: 100%;
  display:inline-block;
}
footer ul li{
  float: left;
  list-style-type: none;
}
footer ul li a{
  color: #fff;
  text-decoration: none;
}
/**
* popup styles
*/
.popup-sec ul{
   padding:0px;
   margin:0px;
}
.popup-sec ul li{
   padding:0px;
   margin:0px;
   list-style-type:none;
}
.popup-sec ul li{
	display:inline-block;
	width:100%;
	margin-bottom:12px;
}
.popup-sec ul li label{
	font-size:16px;
	float:left;
	width:185px;
	margin-right:10px;
}
.popup-sec ul li .price-sec{
	background:#b1e2df;
	width:125px;
	border:1px solid #9ed1ce;
	float:left;
	padding:0px 5px 0px 0px;
	font-size:16px;
	color:#000;
}
.popup-sec ul li .price-sec span{
	border-left:3px solid #ffb907;
	padding:2px 5px;
}
.popup-sec .right-sec{
	padding-left:0px;
}
.popup-sec .right-sec p{
    background: url("../images/chat-graphic.png") no-repeat scroll left 20px rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 12px;
    min-height: 155px;
    padding: 58px 30px 0 28px;
    text-align: center;
    width: 230px;
}
.popup-sec .right-sec .form-actions{
	clear:both;
	margin-top:35px;
}
/** 
  * responsive styles 
**/
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-1 {
  width: 8.33333%;
}
.col-xs-2 {
  width: 16.66667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33333%;
}
.col-xs-5 {
  width: 41.66667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33333%;
}
.col-xs-8 {
  width: 66.66667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33333%;
}
.col-xs-11 {
  width: 91.66667%;
}
.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/** remove styles 
header, footer, .social-links, .steps-head, .loan-steps-box .row .col-md-12, .loan-steps-box h3{
  display: none;
}
.body-bg{ background: none;}
**/
@media (max-width: 850px){
  .wrapper{
    margin: 0px 15px;
  }
}
@media (max-width:480px){
  .sb-search.sb-search-open, .no-js .sb-search{
    width: 100%;
  }
  .form-actions .btn-default{
    margin-top: 20px;
  }
}
@media (max-width:840px){
  .sb-search{
    margin-right: 0px;
  }
  .rmm{
    padding:10px 0px;
  }
  .dashboardSec{
    margin-top: 30px;
  }
  .wishingSec h1{
    width: 100%;
    margin-top: 0px;
  }
  .wish-rightSec{
    width: 50%;
  }
}
@media (max-width:600px){
  .steps-tabs li{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0px;
  }
  .loan-steps-box{
    padding: 15px;
  }
  .wish-rightSec{
    width: 100%;
    background: none;
    float: none;
  }
  .wishingSec input{
    width: 100%;
    float: none;
  }
  .steps-head .head-img{
    padding: 10px;
  }
  .page-title{
    margin-top:15px;
  }
  .recommened-loan select{
    margin-left: 0px;
    width: 100%;
    margin-top: 10px;
  }
  .table-responsive {
      margin-bottom: 15px;
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
  }
}
@media (max-width:700px){
  .steps-tabs li.last{
    display: none;
  }
}

@media (min-width:481px) and (max-width:840px){
  .sb-search{
    margin-top: 5px;
  }
  .sb-search.sb-search-open, .no-js .sb-search{
    width: 50%;
  }  
}
@media (max-width:1023px){
  .social-links{
    position: static;
    background-color: rgba(0,0,0,0.5);
    display: table;
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  .left-links ul li{
    margin-bottom: 0px;
  }
  .social-links li{
    display: inline-block;
    margin: 0px 5px;
  }
}
@media screen and (max-width: 767px) {
  /* line 171, ../sass/bootstrap/_tables.scss */
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
  /* line 190, ../sass/bootstrap/_tables.scss */
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

}